body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #555;
}

.header {
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, .04);
  padding: 2em;
  margin: 2em 0;
}

.header-logo {
  display: block;
}

.main {
  width: 600px;
  margin: 0 auto;
}

.button-github {
  text-transform: uppercase;
  border-radius: 8px;
  border: 2px solid #F5A623;
  box-shadow: 0 0 12px rgba(0, 0, 0, .04);
  padding: 16px 20px 14px;
  display: inline-block;
  margin-top: 2em;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  line-height: 1;
  transition: background-color .3s;
}

.button-github:hover {
  background-color: #fff;
}
